# Android / Gradle build files
.gradle/
build/
*/build/
/local.properties
/captures/
.externalNativeBuild/
.cxx/

# APK / generated outputs
*.apk
*.aab

# Java heap dump / crash files
*.hprof

# IDE files
.idea/
*.iml
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store
